.courseHeader_container {
  // border: 1px solid white;
  padding: 2rem;
  position: relative;

  .trasparent_box {
    max-width: 1340px;
    width: 100%;
    // width: 1400px;
    height: 300px;
    background-color: black;
    opacity: 0.7;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // opacity: 0.6;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h1 {
      margin: 0;
      padding: 0;
      font-size: var(--h1);
      // opacity: 1 !important;
    }

    .subTitle {
      font-size: var(--medium_fs);
      letter-spacing: 5px;
    }

    .text {
      font-size: var(--normal_fs);
      margin: 10px 0;
      line-height: 25px;
      width: 800px;
      // width: 100%;
      max-width: 1000px;
    }
  }
}

@media (max-width: 850px) {
  .courseHeader_container {
    .content {
      .text {
        width: 700px;
      }
    }
  }
}

@media (max-width: 800px) {
  .courseHeader_container {
    .content {
      .text {
        width: 650px;
      }
    }
  }
}

@media (max-width: 450px) {
  .courseHeader_container {
    padding: 1rem;
    .trasparent_box {
      height: 400px;
    }
    .content {
      h1 {
        font-size: var(--h2);
      }
  
      .subTitle {
        font-size: 1.3rem;
        width: 250px;
      }
  
      .text {
        width: 300px;
      }
    }
  }
}

@media (max-width: 350px) {
  .courseHeader_container {
    padding: 1rem;
    .trasparent_box {
      height: 400px;
    }
    .content {  
      .text {
        width: 250px;
      }
    }
  }
}
