.homeInfo_container {
  border: 3px solid rgb(138, 138, 138);
  border-radius: 1rem;
  // margin: 2rem;
  display: flex;
  // flex-wrap: wrap;
  background-color: #151516;

  .col_1 {
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    padding: 20px;
    // border-right: 1px solid rgb(138, 138, 138);
    border-radius: 1rem;
    img {
      width: 80%;
      // background-color: transparent;
    }
  }

  .col_2 {
    width: 65%;
    border-left: 1px solid rgb(138, 138, 138);
    padding: 2rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
  }
}

.card_container {
  background-color: rgb(57, 57, 57);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 1rem;
  // border: 1px solid red;
  .content {
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: baseline;
    background-color: var(--BlackShade2);
    gap: 1rem;

    .card_img {
      width: 50px;
    }

    .card_title {
      color: #daa520;
      font-weight: bold;
      font-size: 1.5rem;
      font-family: var(--cinzel);
    }

    .card_content {
      font-size: 1.1rem;
      font-family: var(--varel_round);
      line-height: 1.5rem;
    }
  }
}

@media (max-width: 1200px) {
  .homeInfo_container {
    flex-direction: column;
    .col_1 {
      width: 100%;
      img {
        max-width: 400px;
        width: 50%;
        // background-color: transparent;
      }
    }
    .col_2 {
      width: 100%;
      border-top: 1px solid rgb(138, 138, 138);
    }
  }
}

@media (max-width: 600px) {
  .homeInfo_container {
    .col_2 {
      grid-template-columns: auto;
    }
  }
}
