.single_blog_page_container {
  display: flex;
  padding: 1rem;

  .blog_container {
    // border: 1px solid white;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem 0 2rem ;

    h1 {
      margin: 1rem;
      font-size: var(--h1);
      text-align: center;
    }
    .main_img {
      width: 80%;
      // padding: 0 1rem;
    }
    .author_name {
      width: 100%;
      text-align: left;
    }
    .block_content_div {
      text-align: justify;
      
      figure{
        width: 100%;
        display: flex;
        justify-content: center;

        img{
          // margin: 1rem;
          width: 50%;
        }
      }
      
      p{
        margin: 1rem 0;
      }
      
    }
    .btn {
      color: var(--NexusGold);
      border: 2px solid var(--NexusGold);
      border-radius: 1rem;
      padding: 0.5rem 1rem;
      cursor: pointer !important;

      &:hover {
        transition: 0s;
        color: black;
        background-color: var(--NexusGold);
      }
    }
  }

  .other_blogs_container {
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1.5rem;
    gap: 2rem;

    .blog_cover_container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      border: 1px solid white;
      background-color: var(--NexusGoldDark);
      border-radius: 1rem;
      overflow: hidden;
			padding-bottom: 1rem;

      .cover_img {
        width: 100%;
      }

      .blog_title {
        font-size: 1.5rem;
        font-family: var(--cinzel);
        font-weight: bold;
      }
      .btn {
        color: var(--NexusGold);
        border: 2px solid var(--NexusGold);
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        cursor: pointer !important;

        &:hover {
          transition: 0s;
          color: black;
          background-color: var(--NexusGold);
        }
      }
    }
  }
}

@media (max-width: 800px){
  .single_blog_page_container{
    .blog_container {
      width: 100%;
    }
    .other_blogs_container{
      display: none;
    }
  }
}