.homeHeader_container {
  background-position: center;
  background-size: cover;
  padding: 2rem;
  height: 90vh;
  // height: 1000px;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;

  h1 {
    font-size: var(--NexusHeading_fs);
    font-weight: normal;
    line-height: 3.5rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: var(--NexusTagLine_fs);
    font-family: var(--cinzel);
    margin-bottom: 3rem;
  }

  p {
    width: 45%;
    line-height: 1.5rem;
    font-size: var(--normal_fs);
    // text-align: center;
    margin-bottom: 3rem;
    text-align: justify;
  }

  .btn {
    background-color: var(--NexusGold);
    border-radius: 10px;
    border: 0;
    padding: 0.5rem 1rem;
    font-weight: bold;
    // font-size: var(--normal_fs);
    font-size: 1.2rem;
    width: max-content;
    color: black;
  }
}

@media (max-width: 850px) {
  .homeHeader_container {
    align-items: center;
    h1 {
      text-align: center;
      line-height: 5rem;
    }
    h2 {
      text-align: center;
    }
    p {
      width: 80%;
    }
  }
}

@media (max-width: 450px) {
  .homeHeader_container {
    height: 800px;
    h1 {
      text-align: center;
    }
    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }
    p {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 350px) {
  .homeHeader_container {
    h1 {
      text-align: center;
      font-size: 4rem;
      line-height: 4.5rem;
    }
    h2 {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    p {
      // text-align: justify;
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}
