.homeVisions_container {
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	.col_1 {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		p {
			position: absolute;
			font-size: 30px;
			font-weight: bold;
			text-align: center;
		}
	}
	
	.col_2 {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
		
		h2 {
			font-size: var(--h2);
		}
		
		p {
			text-align: justify;
			width: 70%;
			font-size: 1.2rem;
			line-height: 1.5rem;
		}
	}
}

@media (max-width: 1000px) {
	.homeVisions_container {
		.col_1{
			video{
				width: 80%;
			}
		}
    .col_2 {
      p {
        width: 100%;
				font-size: 1rem;
      }
    }
  }
}

@media (max-width: 800px) {
	.homeVisions_container {
    flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		padding: 3rem;
		
		.col_1, .col_2{
			width: 100%;
		}

		.col_1{
				video{
					width: 100%;
			}
			p{
				font-size: 2.5rem;
			}
		}
	
		.col_2{
			p{
				width: 80%;
			}
		}
  }
}

@media (max-width: 450px) {
	.homeVisions_container {
		padding: 2rem;
		
		.col_1{
			p{
				font-size: 1.1rem;
			}
		}
		.col_2{
			p{
				width: 100%;
			}
		}
  }
}